.line {
    position: relative;
    display: inline-block;
    height: 60px;
    margin: 30px 0 40px 0;


    &::before {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        width: .5px;
        height: 5rem;
        margin: auto;
        background-color: #fff;
    }

}